# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/

# IDE/editor directories
.vscode/
.idea/
.git/
.dockerignore

# OS-specific files
.DS_Store
Thumbs.db

# Pyinstller directories/files
/build/
/dist/
*.spec
